/*
0 - 600px :  Phone
600px - 900px :  Tablet portrait
900px - 1200px :  Tablet landscape
[1200px to 1800 px] is where our normal styles apply
1800px+  : Big desktops
*/
/*
$breakpoint argument choices
- phone
- tab portrait mode (tab-port)
- tab landscape mode (tab-land)
- big-desktop
*/
/*
Note : em and rem in media-queries are not affected by our root font-size setting. So, in scss till now we used to have 10px = 1rem = 62.5%. But that doesnt work now.

 - 1em or 1rem in the mediaquery is always equal to the root font size (coming from the browser which is 16px by default).
 - We are going to use em instead of rem here because rem in media-query fail to work in some of the browsers. So em is the best option for media query

 Let's calculate now knowing 1em = 16px
                             600px = 600/16 = 37.5em
                             900px = 900/16 = 56.25em
                             1200px = 1200/16 = 75em
                             1800px = 1800/16 = 112.5em


Looks at the end of this file for more about em and rem
*/
/*
Notes : About font-size and length unit measurements:

We have 4 types of representation of sizes (FONT-SIZE or LENGTH(width or height)) -  %, px, em and rem, vh and vw 

* * Percentage - (Treated differently for font-size and width/height):
% is not a unit but it's just the representation of how much of the original px value. 150% of 1px is 1.5px

% for font-size - The element will have a font-size of specific % multiplied by PARENT ELEMENT's font size.
                  Example, if html {font-size : 10px}, then header {font-size : 150%} means 150% of 10px which is = 15px 

% for length (width/height of padding, margin etc..) - The element will have % of length in relation to the parent's property. 
                  Example, 10% of width of a div will be equal to 10% of width of its parent. 
                  Consider a block of width 100px (which is 100%)
                  Parent div - width - 50%,(50px) then child div 10% means it will be 5px

So always remember, parents length and font is reference for child's length and font calculation. 20% height means 20% of it's parents height. 20% of font-size means 20% of its parent's font-size


* * em and rem - They both are relative units and they are font-based for both font-size and length. But em is slightly complex.

****  em (for font-size) - child's font-size depends on immediate PARENT's font-size. If parent's font-size is 10px, then if I set child's font-size to 1.5em, then it is 15px.
      em (for length) - depends on font-size of itself. Example, if div's font-size is 15px, then if width is set to 10em, then the width will be 15px * 10em = 150px  

      em - - for font, reference is parent and for length reference is itself

**** rem (same for font-size and length) -  Always in refence with root font size for both length and font. 
                                        

  NOTE- Root font-size means one u set in html{}. If its not set here then the root font-size is the one that comes from browser

Why we need to set the units to ems and rems when it's based on font size ?
Because its easy to change the font-size and responsively the design can change instead of manually changing in all places.
      


vh - viewport height - 1vh is 1% of viewport height
vw - viewport width - 1vw is 1% of viewport width
*/
/* CSS Animation for the heading-primary */
/* this is for .heading-primary-main which needs to move in from left when page is loaded or reloaded */
@keyframes moveInLeft {
  /* before the animation start. Can be called anything, here we call as 0% */
  /* start */
  0% {
    opacity: 0;
    /* at the beginning it should be invisible */
    /* at the beginning it should be more in the left so translate -100px */
    transform: translateX(-10rem); }
  /* in between. can have more steps to it*/
  80% {
    transform: translateX(1rem); }
  /* finish */
  100% {
    opacity: 1;
    /* at the end it should be exactly in the the center and should not translate */
    transform: translate(0); } }

/* this is for .heading-primary-sub which needs to move in from right when page is loaded or reloaded */
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

/* this is for .btn-white which appears from bottom on the header when page loads or reloads*/
@keyframes moveInBottom {
  /* for 0% to be applied before animation starts (when having delay mentioned in animation), use animation-fill-mode like below; */
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

/* this is the first thing you do. Each and every element in css will apply this. This removes default margins and paddings on any element like h1 or p */
/* its better to apply ::after and ::before pseudo elements on * (all) and set them as well to defaults to avoid any strange behavior */
*,
*::after,
*::before {
  margin: 0px;
  padding: 0;
  /* inheriting from body. It means, all elements ( all elemetns because we are defining inside *) will inherit border-box */
  box-sizing: inherit; }

/* font-size (rem and px) guide lines below */
/* We're going to convert all absolute px units to relative rem units. rem is relative to the base/root font size mentioned in html (we can also mention in body, but lets do in html below) */
/* Note that the base font size by browser is 16px, but lets keep it for 10px now and design everything according to this because it will be easy for our calculations. 10px = 1rem */
/* Finally we should change 10px to % which is 10px/16px (62.5%) because % will be relative to the browser's font-size which makes user to change it (by zooming-in or out) easily. If we set it to 10px then user cannot change it which is bad */
html {
  /* root font-size . This defines what 1rem is - which is 10px */
  /* it should be in % rather than px so that user can change it in the browser when zooms in or out. Default is 16px but we need a % equal to 10px which is 10/16 which is 62.5% */
  font-size: 62.5%; }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  /* instead of writing this border-box setting in *, you should use here so that you can use inherit in * for all elements to inherit from body */
  box-sizing: border-box;
  position: relative;
  padding: 3rem; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

/* Heading */
.heading-primary {
  color: #fff;
  text-transform: uppercase;
  /* to make the animation work without shaking. Why this works is not clearly known at this point of time */
  /* make sure you use this when you use animations */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /* margin for button btn */
  margin-bottom: 6rem;
  /* We want the span element to take up entire block. By default span is an inline element. We make it block here coz we 
  want main and sub to be on different lines */ }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    /*by default h1 has higher font-weight;*/
    letter-spacing: 3.5rem;
    /* applying css animation - making use of defined keyframe for fading in from left*/
    animation-name: moveInLeft;
    animation-duration: 1s;
    /* this long animation should take*/
    /* animation-timing-function specifies how the animation effect should be with in the animation-duration time 1 second*/
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/animation-timing-function */
    animation-timing-function: ease-out;
    /* Additional animation properties */
    /* 
      animation-left: 3s   - Animation will start after 3seconds
      animation-iteration-count: 3;  - Animation will happen for 3 times
      
      */ }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-size: 5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.64rem;
    /* You can specify all animation properties like name, duration like we have done in heading-primary-main into animation like below */
    animation: moveInRight 1s ease-out; }
    @media (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: 0.75rem;
        font-size: 1.5rem; } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  background-clip: 0;
  letter-spacing: 0.2rem;
  transition: all 0.2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-top-big {
      margin-bottom: 5rem !important; } }

/* button */
.btn {
  /* we are using a - anchor tag for button link  */
  /* a - has 4 states - link, visited, active and hover */
  /* link - normal state of a */
  /* visited - once user visites it, you might have noticed it becomes violet color from blue after clicking the link */
  /* active - currently clicked link state */
  /* using pseudo selectors we can define these states as shown */
  /* for fading out on hover functionality, we use pseudo element ::after */
  /* checkout my codepen https://codepen.io/sandeep194920-the-flexboxer/pen/MWjEpXp */
  /* Also, https://codepen.io/sandeep194920-the-flexboxer/pen/jOMGmQx */
  /* Note, we need this after content to be exactly like our btn and sits behind it. We scale it to be bigger than btn in animation */
  /* when we hover the btn, we need the ::after content to take effect */
  /* Since we will have many btns later we will need this animation only to this btn now */ }
  .btn, .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    /* this btn is an anchor tag and by default works as an inline element hence the styling will be off. So we need it as inline block */
    display: inline-block;
    border-radius: 10rem;
    /* will remain same for higher numbers too . will stop after 40px*/
    font-size: 1.6rem;
    /* there are 2 types of using animation. One is by using keyframes like we did before and second one is by using transition prop */
    /* all here specifies - all effects like on hover transform and active transform should all apply here */
    /* there might be a confusion about why this must be in link/visited state, but that's how it should be */
    /* we define transition here and related transofrm will be specified as below in hover and active states */
    transition: all 0.2s;
    /* position is set to relative because  btn::after is set to absolute for btn::after to appear behind the btn*/
    position: relative;
    border: none;
    cursor: pointer; }
  .btn:hover {
    transform: translateY(-0.3rem);
    /* box-shadow: x-direction y-direction amount-of-blurness color-&-opacity ; */
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:active, .btn:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn--white {
    background-color: #fff;
    color: #777;
    /* this animation should apply to only btn-white hence we define it below */ }
    .btn--white::after {
      background-color: white; }
  .btn--green {
    background-color: #55c57a;
    color: #fff;
    /* this animation should apply to only btn-white hence we define it below */ }
    .btn--green::after {
      background-color: #55c57a; }
  .btn::after {
    content: "";
    /*mandatory field in ::after*/
    display: inline-block;
    /* we want it to be exactly same as our btn display*/
    /* width and height will be same as the btn (100% of btn is the btn width and height itself */
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    /* this should also be same as btn so it exactly sits behind the btn*/
    /* till this point, this btn::after looks as the part of btn itself but we want it to be behind this btn so position should be absolute */
    position: absolute;
    top: 0;
    left: 0;
    /* This should not appear in front because it hides the title of btn so we set negetive z-index  */
    z-index: -1;
    /* tranition - using it for transform to take effect which is written in hover::after state below */
    transition: all 0.4s ease-out; }
  .btn:hover::after {
    /* we want the element to grow bigger */
    transform: scaleX(1.4) scaleY(1.6);
    /* At this point we want the transform to work with ease-out property smoothly in one second, so we give translate property for it's parent in btn and link this transform there */
    opacity: 0; }
  .btn--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    /* fill-mode automatically puts the 0% animation in the beginning before the delay (0.75s). Without this the button appears for 0.75s and then animation happens which deosnt look good */
    /* Always remember you might want to use fill-mode when using delay for this reason */
    animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 0.1rem solid #55c57a;
  padding: 0.3rem;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0px 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-0.2rem); }

.btn-text:active {
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0rem); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.2;
  overflow: hidden; }
  .bg-video__content {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 0.2rem;
    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 2rem; }
    @media (max-width: 56.25em) {
      .composition__photo {
        float: left;
        position: relative;
        width: 33.3333333%;
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2); } }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
      @media (max-width: 56.25em) {
        .composition__photo--p1 {
          top: 0;
          transform: translate(1.1); } }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
      @media (max-width: 56.25em) {
        .composition__photo--p2 {
          top: -1rem;
          transform: scale(1.3);
          z-index: 100; } }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
      @media (max-width: 56.25em) {
        .composition__photo--p3 {
          top: 1rem;
          left: 0;
          transform: scale(1.1); } }
    .composition__photo:hover {
      transform: scale(1.05) scaleY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20;
      outline: 1.5rem solid #55c57a; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 0.3rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: all 0.3s; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    background-image: linear-gradient(to bottom, #7ed56f, #28b485);
    -webkit-background-clip: text;
    background-clip: 0;
    color: transparent; }
    @media (max-width: 56.25em) {
      .feature-box__icon {
        margin-bottom: 0; } }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }
  @media (max-width: 56.25em) {
    .feature-box {
      padding: 2rem; } }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  font-family: inherit;
  color: inherit;
  border-bottom: 0.3rem solid transparent;
  width: 90%;
  display: block;
  transition: all 0.6s; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 0.3rem solid #55c57a; }
  .form__input::-webkit-input-placeholder {
    color: #999; }
  .form__input:focus:invalid {
    border-bottom: 0.3rem solid #ff7730; }

.form__label {
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
  transform: translateY(0); }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-2rem); }

.form__radio-group {
  width: 49%;
  display: inline-block; }

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem; }

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 0.5rem solid #55c57a;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0rem;
  top: -0.5rem; }
  .form__radio-button::after {
    content: "";
    display: block;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #55c57a;
    opacity: 0;
    transition: opacity 0.2s; }

.form__radio-input:checked + .form__radio-label .form__radio-button::after {
  opacity: 1; }

.form__radio-input {
  display: none; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem; }
  .card__side {
    height: 52rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: white; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem; }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../img/nat-6.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-7.jpg); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 3rem;
    text-align: right;
    width: 75%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span-1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
    .card__heading-span-2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
    .card__heading-span-3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 0.1rem solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    text-align: center;
    margin-bottom: 8rem;
    color: #fff; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }
  @media (max-width: 56.25em) {
    .card {
      height: auto;
      border-radius: 3px;
      background-color: #fff;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
      .card__side {
        height: auto;
        position: relative;
        box-shadow: none; }
        .card__side--back {
          transform: rotateY(0);
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%); }
      .card:hover .card__side--front {
        transform: rotateY(0); }
      .card:hover .card__side--back {
        transform: rotateY(0); }
      .card__details {
        padding: 1rem 3rem; }
      .card__cta {
        position: relative;
        top: 0%;
        left: 0%;
        transform: translate(0);
        width: 100%;
        padding: 7rem 4rem 4rem; }
      .card__price-box {
        margin-bottom: 3rem; }
      .card__price-value {
        font-size: 4rem; } }

.popup {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s; }
  .popup__content {
    background-color: #fff;
    width: 75%;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all 0.5s 0.2s; }
  .popup__left {
    width: 33.33333%;
    display: table-cell; }
  .popup__right {
    width: 66.666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem; }
  .popup__img {
    display: block;
    width: 100%; }
  .popup__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid #eee;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #eee;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: scale(1) translate(-50%, -50%); }
  .popup__close:link, .popup__close:visited {
    color: #777;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    transition: all 0.2s;
    line-height: 1; }
  .popup__close:hover {
    color: #55c57a; }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 0.3rem;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg); }
  @media (max-width: 56.25em) {
    .story {
      width: 100%;
      padding: 4rem;
      padding-left: 7rem; } }
  @media (max-width: 37.5em) {
    .story {
      transform: skewX(0); } }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    transform: translateX(-3rem) skewX(12deg);
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    position: relative; }
    @media (max-width: 37.5em) {
      .story__shape {
        transform: translateX(-3rem) skewX(0); } }
  .story__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all 0.5s; }
  .story__text {
    transform: skewX(12deg); }
    @media (max-width: 37.5em) {
      .story__text {
        transform: skewX(0); } }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    transform: translate(-50%, 0);
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(0.3rem) brightness(80%); }

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: #f7f7f7; }
  @media (max-width: 56.25em) {
    .footer {
      padding: 8rem 0; } }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .footer__logo-box {
        margin-bottom: 6rem; } }
  .footer__logo {
    width: 15rem;
    display: inline-block; }
  .footer__navigation {
    border-top: 1px solid #777;
    padding-top: 2rem;
    display: inline-block; }
    @media (max-width: 56.25em) {
      .footer__navigation {
        width: 100%;
        text-align: center; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #f7f7f7;
    background-color: #333;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all 0.2s; }
  .footer__link:hover, .footer__link:active {
    color: #55c57a;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3); }
  .footer__copyright {
    border-top: 1px solid #777;
    padding-top: 2rem;
    width: 80%;
    float: right; }
    @media (max-width: 56.25em) {
      .footer__copyright {
        width: 100%;
        float: none; } }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  @media (max-width: 56.25em) {
    .row {
      max-width: 51rem;
      padding: 0 3rem; } }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 *6rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 *6rem) / 4); }
  .row .col-2-of-3 {
    width: calc( (2 * (100% - 2 *6rem) / 3) + 6rem); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 *6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( (3 * ((100% - 3 *6rem) / 4)) + 2 *6rem); }
  .row::after {
    content: "";
    display: table;
    clear: both; }

.header {
  height: 95vh;
  /* we have a bg image. We need to set green color on top of it, so we specify a gradiant. Gradiant will come first coz it should stay on top of bg image */
  /* linear gradiant is having multiple colors and to right indicate from left (dark green to right light green). We can also give to top OR to bottom OR to right bottom and so on */
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  /* fits completely*/
  background-position: top;
  /* always fixed to top. Top never changes when u reduce window size. Can be done for bottom/center as well. Play with it and see*/
  /* clip-path is to trim the image where we need. polygon takes 4 points left, right, right bottom and left bottom. 
    0 0 -> first 0 is from left side of webpage and second 0 is from top of webpage
    so, we say at 0 0 my point should be located
    similarly, 100% 0 -> from left side of webpage my second point should be placed 100% and 0% from top 
    and so on.
    
    For detailed explanation view - https://www.youtube.com/watch?v=fn88PkKo9gQ&ab_channel=WinstonCodes
    You can calculate this using - https://bennettfeely.com/clippy/
  Note: Triangle takes only 3 points and we can do this way - polygon(50% 0, 100% 100%, 0 100%)
    */
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  /* setting this element to relative because this is parent element to logo-box and text-box which are the child and absolutely positioned */
  position: relative;
  /* Text-box */ }
  @media (max-width: 37.5em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); } }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    /* If we specify height then the widht will automatically set by browser and we dont need to set that. If we set width then our width will take the priority and appears on the page */
    /* The same applies of width. If we set width, then height will be set automatically by browser */
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    /* The text-box's center needs to be top-40 and left-50 and not the text-box's start. This can be done by adding transform translate */
    /* translate moves the text-box itself as defined inside translate */
    transform: translate(-50%, -50%);
    /* X = -50% and Y=-50%, so that it's center will be aligned properly  */
    /* this is used so that the .btn (anchor tag) which is inline element centers itself in this block */
    text-align: center;
    /* margin:auto vs text-align: center;; */
    /* margin is used on container to center it while text-align is used on inline and inline-block elemnts to align them */ }

/* Logo */
.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  cursor: pointer; }
  @media (max-width: 56.25em) {
    .navigation__button {
      top: 4rem;
      right: 4rem; } }
  @media (max-width: 37.5em) {
    .navigation__button {
      top: 3rem;
      right: 3rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#7ed56f, #28b485);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  @media (max-width: 56.25em) {
    .navigation__background {
      top: 4.5rem;
      right: 4.5rem; } }
  @media (max-width: 37.5em) {
    .navigation__background {
      top: 3.5rem;
      right: 3.5rem; } }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 2rem;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 240%;
  transition: all 0.4s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 2rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #55c57a;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(100); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem;
  margin-left: 2rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block;
    position: absolute; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    left: 0;
    transition: all 0.2s; }
  .navigation__icon::before {
    top: -0.8rem; }
  .navigation__icon::after {
    top: 0.8rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(-135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(135deg); }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }
  @media (max-width: 56.25em) {
    .section-about {
      padding: 20rem 0; } }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem; }
  .section-features > * {
    transform: skewY(7deg); }
  @media (max-width: 56.25em) {
    .section-features {
      padding: 10rem 0; } }

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 15rem 0;
  margin-top: -10rem; }
  @media (max-width: 56.25em) {
    .section-tours {
      padding: 20rem 0 10rem 0; } }

.section-stories {
  padding: 15rem 0;
  position: relative; }
  @media (max-width: 56.25em) {
    .section-stories {
      padding: 10rem 0; } }

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
  @media (max-width: 56.25em) {
    .section-book {
      padding: 10rem 0; } }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url("../img/nat-10.jpg");
  background-size: cover;
  height: 50rem;
  border-radius: 0.3rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
  .book__form {
    width: 50%;
    padding: 6rem; }
