// clear floats for the col
@mixin clearfix {
  &::after {
    // clearfix will append a pseudo element after the element which clears the float
    content: "";
    display: table; // this can be even blocl, but table is just a standard
    clear: both; // clears both float left and right
  }
}
// to center an element
@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
/*
0 - 600px :  Phone
600px - 900px :  Tablet portrait
900px - 1200px :  Tablet landscape
[1200px to 1800 px] is where our normal styles apply
1800px+  : Big desktops
*/

// Mixins basically inserts the code we write here in the files (places)we call
// Non argument type
@mixin respond-phone {
  @media (max-width: 600px) {
    @content;
  }
}

/*
$breakpoint argument choices
- phone
- tab portrait mode (tab-port)
- tab landscape mode (tab-land)
- big-desktop
*/
// argument type mixin

@mixin respond($breakpoint) {
  // this can be written in any order but should be called in descending order in the respective sass file
  @if $breakpoint == tab-land {
    // applies to all devices smaller or equal to 1200px
    @media (max-width: 1200px) {
      @content;
    }
  }

  @if $breakpoint == tab-port {
    // applies to <= 900px
    @media (max-width: 900px) {
      @content;
    }
  }

  @if $breakpoint == phone {
    // applies to <=600px
    @media (max-width: 600px) {
      @content;
    }
  }

  // for 1200px to 1800px, none of the media queries will apply and hence our old css will apply

  @if $breakpoint == big-desktop {
    @media (min-width: 1800px) {
      @content;
    }
  }
}
