.row {
  // max-width vs width - width forces it to stay the mentioned size while max-width allows it to shrink if necessary based on viewport width;
  // min-width: is the width it cannot not be smaller than the specified number. It introduces horizontal scroll;
  //   width: 295rem;
  max-width: $grid-width;
  background-color: #eee;
  margin: 0 auto;
  //   margin-bottom: $gutter-vertical; // we can include this here if we are not using  &:not(:last-child)

  //   we dont need the vertical gutter for the last child so we do this. Alternate way of doing this is uncommented below
  //   &:last-child {
  //     margin-bottom: 0;
  //   }

  //   this means, everything except the last child
  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }
}
