.popup {
  width: 100%;
  height: 100vh;
  background-color: rgba($color-black, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;

  &__content {
    background-color: $color-white;
    width: 75%;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
    @include absCenter; // replaced the below code by mixin
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    border-radius: 3px;

    // since children, left and right, are table-cell, we need this to be table. On doing this as table and setting children to tabel-cell, the children will then have equal heights
    display: table;
    // to avoid image overlapping the border (inorder to properly see the border-radius)
    overflow: hidden;
  }

  &__left {
    width: 33.33333%;
    // We could use floats to left and right to properly allign images and content. But the problem is that the right box can't be vertically centered in that case, so we are doing something different
    // Hence we do display as table-cell here. If this child is table-cell, it's parent, content, should be table
    // float: left;
    display: table-cell;
  }
  &__right {
    width: 66.666667%;
    // float: right;
    display: table-cell;
    // since we have applied table-cell, we can do, vertical allignment
    vertical-align: middle;
    padding: 3rem 5rem;
  }
  &__img {
    // by default, images will be inline elements so width and other things won't apply. We need to change it to block on inline-blk
    display: block;
    width: 100%;
  }
  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
  }
}
