.popup {
  width: 100%;
  height: 100vh;
  background-color: rgba($color-black, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  // if u set display none, then u cant animate it. Instead do opacity 0 and visibility hidden
  opacity: 0;
  visibility: hidden;

  // animation is not possible if we have used display none. So we are using opacity and visibility as I told
  transition: all 0.4s;

  &__content {
    background-color: $color-white;
    width: 75%;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
    @include absCenter; // replaced the below code by mixin
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    border-radius: 3px;

    // since children, left and right, are table-cell, we need this to be table. On doing this as table and setting children to tabel-cell, the children will then have equal heights
    display: table;
    // to avoid image overlapping the border (inorder to properly see the border-radius)
    overflow: hidden;

    // for animation purpose, content should be scaled down and invisible initially
    opacity: 0;
    // transform: scale(0); // this wont work because we have already defined a transform in the mixin, so lets put it here
    transform: translate(-50%, -50%) scale(0.25);
    transition: all 0.5s 0.2s;
  }

  &__left {
    width: 33.33333%;
    // We could use floats to left and right to properly allign images and content. But the problem is that the right box can't be vertically centered in that case, so we are doing something different
    // Hence we do display as table-cell here. If this child is table-cell, it's parent, content, should be table
    // float: left;
    display: table-cell;
  }
  &__right {
    width: 66.666667%;
    // float: right;
    display: table-cell;
    // since we have applied table-cell, we can do, vertical allignment
    vertical-align: middle;
    padding: 3rem 5rem;
  }
  &__img {
    // by default, images will be inline elements so width and other things won't apply. We need to change it to block on inline-blk
    display: block;
    width: 100%;
  }
  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;

    // to work on all the browsers, we need prefixes like this
    -moz-column-count: 2;
    // default column-gap will be 1em which is 1.4rem = 14px in this case. default is 1em / 1.4 rem in this case because we have defined the font-size for .text here to be 1.4rem and that is considered as 1em.
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid $color-grey-light-2; //color and thickness of gap between two columns

    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid $color-grey-light-2;

    // when half of a word goes to next line then this helps. Example San-deep, deep being in next line
    // to work on all the browsers, we need prefixes like this
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  // popup open state

  // initially this popup will be hidden. When you click on the Book Now, we have given href=#opoup and specified id="popup" in popup div. This becomes the target and can be set opacity and visibility back to defaults
  // when the target changes, the below styles no longer apply and hence the popup will set back to the above styles (opacity: 0 and visibitly :hidden)

  &:target {
    opacity: 1;
    visibility: visible;
  }
  // when popup becomes the target the content should open with animation
  &:target &__content {
    opacity: 1;
    transform: scale(1) translate(-50%, -50%);
  }

  // when popup is closed
  &__close {
    &:link,
    &:visited {
      color: $color-grey-dark;
      position: absolute; // will be positioned relatively to the popup-content
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      transition: all 0.2s;
      line-height: 1;
    }
    &:hover {
      color: $color-primary;
    }
  }
}
