.story {
  width: 75%;
  margin: 0 auto; // block inside a block so we can use margin to center it
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  background-color: rgba($color-white, 0.6);
  border-radius: 0.3rem;
  padding: 6rem;
  padding-left: 9rem; // this extra padding-left is added because we have moved(translated) to left, -3rem
  font-size: $default-font-size;
  transform: skewX(-12deg);

  // for testing media query mixin for phone
  @include respond(phone) {
    width: 5%;
  }
  //  the skew transformation above has skewed in x directon to -12deg, but we need the text and image (first children ) to skew back as we did before.
  //  but this below can't be used in this because transform can be applied only once. translate and skew both cant be applied on shape (one of the first children) so we
  //  will directly apply this on each child

  //   & > * {
  //     transform: skewX(12deg);
  //   }

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    // explained above why skew is necessary on both text and image

    transform: translateX(-3rem) skewX(12deg);

    // shape-outside property is basicaly used to create shapes for text. In story we want the semi circle look of the text so we use this;
    // for this to work three conditions must be present on this element. width, height and float.
    // currently only supported in chrome and safari. need to include -webkit-shape-outside
    // not only circle but we can also use polygon and others just like clip-path
    // in circle we can define size, position and center of the circle like below

    // first param 50% tells the radius of the circle. Radius in this case is 50% of width and height of element. 7.5rem in this case which means diameter is equal to shape size
    // last two params 50% 50% says the center of the circle, 50% horizontally and 50% verticallty
    -webkit-shape-outside: circle(50% at 50% 50%); // for safari
    shape-outside: circle(50% at 50% 50%);

    // we also need the shape to be circle, so we clip the shape
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);

    // we need the figcaption to be absolutely positioned, so setting this to position relative
    position: relative;
  }
  &__img {
    height: 100%;
    // scale is added so that initially the image is bit zoomed in and it zooms out when hovered
    transform: translateX(-4rem) scale(1.4); // to center the image inside the shape. In case if any translation doesnt work, then add backface-visibility hidden
    // backface-visibility is added so that the transform above doesnt misbehave
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all 0.5s;
  }
  &__text {
    // explained above why skew is necessary on both text and image
    transform: skewX(12deg);
  }
  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    color: $color-white;
    transform: translate(
      -50%,
      0
    ); // this is for adjusting center of the text to center of container which is shape (this u have seen in header text)
    font-size: 1.7rem;
    text-align: center;
    // opacity is set to 0 and translated from -50%,0 because the caption should be invisible unless hovered
    opacity: 0;
    transition: all 0.5s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; // to avoid shakyness of animation
  }
  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover &__img {
    transform: translateX(-4rem) scale(1);
    // filter is a prop used to alter image blur, brigtness and so many other things.
    // brightness above 100% is for making images brighter and less than 100% to make img darker
    filter: blur(0.3rem) brightness(80%);
  }
}
