.story {
  width: 75%;
  margin: 0 auto; // block inside a block so we can use margin to center it
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  background-color: $color-white;
  border-radius: 0.3rem;
  padding: 6rem;
}
