// utility class that helps to center the text
.u-center-text {
  // the text is inline block element so we use text-align and not margin : auto
  text-align: center;
}

// used in about section for heading-secondary
.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}
